a,
a::after {
  color: black;
}

a:hover {
  color: #777;
}

footer {
  color: aliceblue;
  background: url(/img/footerBack2.png) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 200px;
}
